<p class="page-header">This is the application form for Junction 2016. We would like to know your contact information, skills, experience and motivation. Filling in the form takes about 5 minutes. Attributes marked with * symbol are required to fill in. </p><p>People will be selected to Junction 2016 based both on motivation and experience. Before anything we value diversity - no matter whether you’re a beginner or a pro, if you have the passion and a will to create something, we want you to be a part of Junction!</p>
{{#if errors}}

	<div class = "alert-text"> {{errors.length}} error(s). See below.</div>

{{/if}}

{{#if error_messages.common}}
   <p class = "alert-textr">{{error_messages.common}}</p>
{{/if}}


<form method="post" action="/register">


      <div class="form-group-div">

         <div class="label-container">
            <label>First name*</label>
				{{#if error_messages.firstname}}
					<p class = "alert-text"> {{error_messages.firstname}}</p>
				{{/if}}
         </div>
         <input type="text" value="{{failedPost.firstname}}" placeholder="" name="firstname">
      </div>


	<div class="form-group-div">

      <div class="label-container">
         <label>Last name*</label>
		{{#if error_messages.lastname}}
			<p class = "alert-text">{{error_messages.lastname}}</p>
		{{/if}}
      </div>
		<input type="text" value="{{failedPost.lastname}}" placeholder="" name="lastname">
	</div>


	<div class="form-group-div">

      <div class="label-container">
         <label>Email*</label>
			{{#if error_messages.email}}
				<p class = "alert-text"> {{error_messages.email}}</p>
			{{/if}}
      </div>
		<input type="email"  value="{{failedPost.email}}" placeholder="" name="email">
	</div>	

	<div class="form-group-div">
      <div class="label-container">
         <label>Age*</label>
			{{#if error_messages.age}}
				<p class = "alert-text">{{error_messages.age}}</p>
			{{/if}}
      </div>
		<input type="number"  value="{{failedPost.age}}" placeholder="" name="age">
	</div>

	<div class="control-group">
		<p>Gender*<p>
		{{#if error_messages.sex}}
			<p class = "alert-text">{{error_messages.sex}}</p>
		{{/if}}
		<div class="container-div row ">
			 {{#each form_values.sex}}
			 	 <label class="control col-sm-4 control--radio">{{this.text}}
		 			 <input type="radio" name="sex" value="{{this.value}}" {{this.checked}}>
					 <div class="control__indicator"></div>
				 </label>
			 {{/each}}
		 </div>
	</div>

	<div class="form-group-div">

      <div class="label-container">
         <label>Phone</label>
			{{#if error_messages.phone}}
				<p class = "alert-text"> {{error_messages.phone}}</p>
			{{/if}}
      </div>
		<input type="text"  value="{{failedPost.phone}}" placeholder="" name="phone">
	</div>


	<!-- country_from: String, -->
	<div class="form-group-div" id="country-section">
		<label>What country are you traveling from?*</label>
		{{#if error_messages.countryFrom}}
			<p class = "alert-text"> {{error_messages.countryFrom}}</p>
		{{/if}} 		
 		<select name="countryFrom" id="country" class="country">
		 <option value="" >Select your option</option>
		 {{#each country_from_values}}
			<option value="{{this.code}}" {{this.selected}}>{{this.name}}</option>
		 {{/each}}
		</select>
	</div>

	<!-- city_from: String, -->
	<div class="form-group-div">
      <div class="label-container">
         <label>What city are you traveling from?*</label>
			{{#if error_messages.city}}
				<p class = "alert-text"> {{error_messages.city}}</p>
			{{/if}}
      </div>
		<input type="text"  value="{{failedPost.city}}" placeholder="" name="city">
	</div>

	<!-- home_country: String -->
	<div class="form-group-div" id="country-section">
		<label>What is your home country?*</label>
		{{#if error_messages.countryHome}}
			<p class = "alert-text"> {{error_messages.countryHome}}</p>
		{{/if}}
 		<select name="countryHome" id="country" class="country">
 		<option value="" >Select your option</option>
		 {{#each country_home_values}}
			<option value="{{this.code}}" {{this.selected}}>{{this.name}}</option>
		 {{/each}}
		</select>
	</div>

	<!-- shirtsize:  -->
	<div class="control-group" id="shirt">
		<p>Shirt size*</p>
		{{#if error_messages.shirtsize}}
			<p class = "alert-text">{{error_messages.shirtsize}}</p>
		{{/if}}
		<div class="container-div row ">
			 {{#each form_values.shirtsize}}
				<label class="control col-sm-4 control--radio">{{this.text}}
		 			 <input type="radio" name="shirtsize" value="{{this.value}}" {{this.checked}}>
					 <div class="control__indicator"></div>
				 </label>
			 {{/each}}
		</div>
	</div>

	<!-- dietary:  -->
	<div class="control-group" id="diet">
		<p>Dietary restrictions*</p>
		{{#if error_messages.dietary}}
			<p class = "alert-text"> {{error_messages.dietary}}</p>
		{{/if}}
		<div class="container-div row ">
			{{#each form_values.dietary}}
					<label class="control col-sm-4 control--radio">{{this.text}}
			 			<input type="radio" name="dietary" value="{{this.value}}" {{this.checked}}>
						<div class="control__indicator"></div>
					 </label>
			{{/each}}
		</div>
	</div>

	<!-- track: -->
	<div class="control-group" id="track">
		<p>Which track are you most interested in? This question isn't binding in any case. You can find more info about each track on our <a href="https://hackjunction.com/#tracks" target="_blank">website</a>!*</p>
		{{#if error_messages.track}}
			<p class = "alert-text"> {{error_messages.track}}</p>
		{{/if}}
		<div class="container-div row ">
		 {{#each form_values.track}}
				<label class="control col-sm-4 control--radio">{{this.text}}
				 <input type="radio" name="track" value="{{this.value}}" {{this.checked}}>
				 <div class="control__indicator"></div>
				</label>
		 {{/each}}
		</div>
	</div>

	<!-- team: String, -->
	<div class="form-group-div">
      <div class="label-container">
         <label>Team - If you have a team already, please come up with somewhat unique string to name it. It is completely fine not to have a team at this point.</label>
		{{#if error_messages.team}}
			<p class = "alert-text"> {{error_messages.team}}</p>
		{{/if}}
      </div>
		<input type="text"  value="{{failedPost.team}}" placeholder="" name="team">
	</div>

	<!-- portfolio:String -->
	<div class="form-group-div">
      <div class="label-container">

         <label>Portfolio - E.g. GitHub, GitLab or itch.io</label>
			{{#if error_messages.portfolio}}
				<p class = "alert-text"> {{error_messages.portfolio}}</p>
			{{/if}}
      </div>
		<input type="text"  value="{{failedPost.portfolio}}" placeholder="" name="portfolio">
	</div>

  <div class="form-group-div">
     <div class="label-container">
        <label>Which school do you go to? If you are not a student leave this empty.</label>
		{{#if error_messages.school}}
			<p class = "alert-text"> {{error_messages.school}}</p>
		{{/if}}
     </div>
     <input type="text" value="{{failedPost.school}}" placeholder="" name="school">
  </div>

	<!-- occupation:  -->
	<div class="control-group" id="occupation">
		<p>Which of the following choices describes your occupational status the best?</p>
		{{#if error_messages.occupation}}
			<p class = "alert-text"> {{error_messages.occupation}}</p>
		{{/if}}
		<div class="container-div row ">
			{{#each form_values.occupation}}
					<label class="control col-sm-4 control--radio">{{this.text}}
			 			<input type="radio" name="occupation" value="{{this.value}}" {{this.checked}}>
						<div class="control__indicator"></div>
					 </label>
			{{/each}}
		</div>
	</div>

	<div class="control-group container" id="occupation">
		<p>Which programming, scripting and markup languages or game engines are you most confortable with?</p>
		{{#if error_messages.skills}}
			<p class = "alert-text"> {{error_messages.skills}}</p>
		{{/if}}
		<div class="container-div row  row">
			{{#each form_values.skills}}
					<label class="control col-sm-4 control--checkbox col-sm-4">{{this.text}}
			 			<input type="checkbox" name="skills" value="{{this.value}}" {{this.checked}}>
						<div class="control__indicator"></div>
					 </label>
			{{/each}}
		</div>
	</div>

	<!-- experience:  -->
	<div class="control-group" id="experience">
		<p>How many years do you have hackathon and/or coding experience?</p>
		{{#if error_messages.experience}}
			<p class = "alert-text"> {{error_messages.experience}}</p>
		{{/if}}
		<div class="container-div row ">
			{{#each form_values.experience}}
					<label class="control col-sm-4 control--radio">{{this.text}}
			 			<input type="radio" name="experience" value="{{this.value}}" {{this.checked}}>
						<div class="control__indicator"></div>
					 </label>
			{{/each}}
		</div>
	</div>

	<!-- role:  -->
	<div class="control-group" id="role">
		<p>Which of the following describes your role in a hackathon team the best?</p>
		{{#if error_messages.role}}
			<p class = "alert-text"> {{error_messages.role}}</p>
		{{/if}}
		<div class="container-div row ">
			{{#each form_values.role}}
					<label class="control col-sm-4 control--radio">{{this.text}}
			 			<input type="radio" name="role" value="{{this.value}}" {{this.checked}}>
						<div class="control__indicator"></div>
					 </label>
			{{/each}}
		</div>
	</div>

	<!-- Skills (e.x.:String, -->
<<<<<<< HEAD
	<div class="text-area textarea">
		<label>Why do you want to come to Junction 2016 and why should we choose you?*</label>
=======
	<div class="text-area">
		<label>Why do you want to come to Junction 2016 and why should we choose you? (Max 5000 char)*</label>
>>>>>>> 8a942a5cd3e59770e95e272b18aadf57b1579b2f
		{{#if error_messages.motivation}}
			<p class = "alert-text"> {{error_messages.motivation}}</p>
		{{/if}}
			<textarea type="textarea" class="textarea"  value="{{failedPost.motivation}}" placeholder="" name="motivation">{{failedPost.motivation}}</textarea>
	</div>



	<!-- secret_code:string -->
   <div class="form-group-div">
      <div class="label-container">
         <label>If you are provided with a <b>secret code</b>, please remember to put it here.</label>
      </div>
      <input type="text" value="{{failedPost.secret}}" placeholder="" name="secret">
   </div>

	<!-- Skills (e.x.:String, -->
	<div class="text-area">
		<label>Free comment - If there's anything else you would like to say, this is the place to do it. (Max 5000 char)</label>
		{{#if error_messages.comment}}
			<p class = "alert-text"> {{error_messages.comment}}</p>
		{{/if}}
			<textarea type="textarea" class="textarea"  value="{{failedPost.comment}}" placeholder="" name="comment">{{failedPost.comment}}</textarea>
	</div>


	<!-- role:  -->
	<div class="control-group" id="tc">
		<p>I agree with MLH Code of Conduct, which can be found <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank">here</a></p>
		{{#if error_messages.tc}}
			<p class = "alert-text"> {{error_messages.tc}}</p>
		{{/if}}
		<div class="container-div row ">
					<label class="control  control--checkbox">I have read and agree the MLH Code of Conduct
			 			<input type="checkbox" name="tc" value="agree" >
						<div class="control__indicator"></div>
					 </p>
		</div>
	</div>

	<h4>Junction 2016 Terms and Conditions</h4>
	<p>
	Junction 2016 is organized by Aalto Entrepreneurship Society, which is a student driven entrepreneurship organization.<br /><br />

	By submitting your application you consent to giving your contact details and any information you provide to Aalto Entrepreneurship Society. Aalto Entrepreneurship Society retains the right to share these with official partners and affiliates. We will never release your personal details to any unassociated 3rd party entities, nor will we sell your personal details for profit to any 3rd party entity. Any information you provide will be used for the purpose of processing your application to enter Junction 2016. This may include sharing content submitted by you to our official partners and affiliates.<br /><br />

	By submitting your application you consent to receiving marketing material and updates regarding Junction 2016. You have the option to opt-out at any given time.<br /><br />

	By submitting you consent to being filmed and/or photographed at the actual event. Furthermore, you consent to any pictures which include you to be shared on official Aalto Entrepreneurship Society media channels. Aalto Entrepreneurship Society will never sell the content created by Aalto Entrepreneurship Society or official partners to 3rd party entities.<br /><br />

	By submitting you confirm that your project during Junction 2016 is programmed only during the event. Pre-written projects aren’t qualified to compete for the prizes.<br /><br />

	</p>

	<button type="submit" class="btn btn-default">SUBMIT</button>

	<h4>PSST ... Two more questions!</h4>
	<!-- operating system:  -->

	<div class="control-group" id="opeating_system">
		<p>Which one of the following would you bring to Junction 2016 as your laptop’s operating system?</p>
		{{#if error_messages.operating}}
			<p class = "alert-text"> {{error_messages.operating}}</p>
		{{/if}}
		<div class="container-div row ">
			{{#each form_values.operating}}
					<label class="control col-sm-4 control--radio">{{this.text}}
			 			<input type="radio" name="operating" value="{{this.value}}" {{this.checked}}>
						<div class="control__indicator"></div>
					 </label>
			{{/each}}
		</div>
	</div>

	<!-- sublime-text -->
	<div class="control-group" id="sublime">
		<p>And finally… Do you have a Sublime Text license?</p>
		{{#if error_messages.sublime}}
			<p class = "alert-text"> {{error_messages.sublime}}</p>
		{{/if}}
		<div class="container-div row ">
			{{#each form_values.sublime}}
					<label class="control col-sm-4 control--radio">{{this.text}}
			 			<input type="radio" name="sublime" value="{{this.value}}" {{this.checked}}>
						<div class="control__indicator"></div>
					 </label>
			{{/each}}
		</div>
	</div>

		<button type="submit" class="btn btn-default">SUBMIT</button>


</form>