<h2 class="page-header"></h2>
{{#if errors}}
	
	<div class = "alert alert-danger"> {{errors.length}} error(s). See below.</div>
	
{{/if}}

<form method="post" action="/users/register">
	<!-- firstname: String, -->

	<div class="form-group">
		<label>First Name</label>
		{{#if error_messages.firstname}}
			<p class = "alert-text"> {{error_messages.firstname}}</p>
		{{/if}}
		<input type="text" class="form-control" value="{{failedPost.firstname}}" placeholder="first name" name="firstname">
	</div>


	<!-- lastname: String, -->

	<div class="form-group">
		<label>Lastname</label>
		{{#if error_messages.lastname}}
			<p class = "alert-text">{{error_messages.lastname}}</p>
		{{/if}}
		<input type="text" class="form-control" value="{{failedPost.lastname}}" placeholder="lastname" name="lastname">
	</div>
	

	<!-- age: {type: 'integer'}, -->
	<div class="form-group">
		<label>Age</label>
		{{#if error_messages.age}}
			<p class = "alert-text">{{error_messages.age}}</p>
		{{/if}}
		<input type="number" class="form-control" value="{{failedPost.age}}" placeholder="99" name="age">
	</div>	
	
	<!-- email: {type:"text", key: true}, -->
	<div class="form-group">
		<label>Email</label>
		{{#if error_messages.email}}
			<p class = "alert-text"> {{error_messages.email}}</p>
		{{/if}}
		<input type="email" class="form-control"  value="{{failedPost.email}}" placeholder="hacker@hackjunction.com" name="email">
	</div>	
	

	<!-- country: String, -->
	<div class="form-group">
		<label>Home Country</label>

<!-- 		<input type="text" class="form-control"  value="{{failedPost.country}}" placeholder="Country" name="country" list="country">
 -->		<select name="country" id="country" class="country">
		 {{#each country_values}}
			<option value="{{this.code}}" {{this.selected}}>{{this.name}}</option>
		 {{/each}}
		</select>

		{{#if error_messages.country}}
			<p class = "alert-text"> {{error_messages.country}}</p>
		{{/if}}
		
	</div>	
	

	<!-- gender:  -->
	<div class="form-group">
		<label>Gender</label><br>
		{{#if error_messages.sex}}
			<p class = "alert-text"> {{error_messages.sex}}</p>
		{{/if}}
		 {{#each form_values.sex}}
 			 <input type="radio" name="sex" value="{{this.value}}" {{this.checked}}>{{this.text}}<br>
		 {{/each}}
	</div>



	<!-- shirtsize:  -->
	<div class="form-group">
		<label>Shirt size</label><br>
		{{#if error_messages.shirtsize}}
			<p class = "alert-text">{{error_messages.shirtsize}}</p>
		{{/if}}
		 {{#each form_values.shirtsize}}
 			 <input type="radio" name="shirtsize" value="{{this.value}}" {{this.checked}}>{{this.text}}<br>
		 {{/each}}
	</div>	


	<!-- dietary:  -->
	<div class="form-group">
		<label>Dietary restrictions</label><br>
		{{#if error_messages.dietary}}
			<p class = "alert-text"> {{error_messages.dietary}}</p>
		{{/if}}
		{{#each form_values.dietary}}
 			<input type="radio" name="dietary" value="{{this.value}}" {{this.checked}}>{{this.text}}<br>
		{{/each}}
	</div>	

	<!-- track: -->
	<div class="form-group">
		<label>First track choice</label><br>
		{{#if error_messages.track}}
			<p class = "alert-text"> {{error_messages.track}}</p>
		{{/if}}
		 {{#each form_values.track}}
				 <input type="radio" name="track" value="{{this.value}}" {{this.checked}}>{{this.text}}<br>
		 {{/each}}
	</div>	

	<!-- portfolio:String, -->
	<div class="form-group">
		<label>Portfolio (Github, Gitlab etc.)</label>
		{{#if error_messages.portfolio}}
			<p class = "alert-text"> {{error_messages.portfolio}}</p>
		{{/if}}
		<input type="text" class="form-control" value="{{failedPost.portfolio}}"  placeholder="github.com/junction_hcker" name="portfolio">
	</div>


	<!-- question1:String, -->
	<div class="form-group">
		<label>Question 1 </label>
		{{#if error_messages.q1}}
			<p class = "alert-text"> {{error_messages.q1}}</p>
		{{/if}}
		<textarea type="textarea" class="form-control"  placeholder="" name="q1">{{failedPost.q1}}</textarea>
	</div>	



	<!-- question2:String, -->
	<div class="form-group">
		<label>Question 2</label>
		{{#if error_messages.q2}}
			<p class = "alert-text"> {{error_messages.q2}}</p>
		{{/if}}
		<textarea type="textarea" class="form-control"   placeholder="" name="q2">{{failedPost.q2}}</textarea>
	</div>


	<!-- comment:String, -->


	<div class="form-group">
		<label>Free comment</label>
		{{#if error_messages.comment}}
			<p class = "alert-text"> {{error_messages.comment}}</p>
		{{/if}}
			<textarea type="textarea" class="form-control"  value="{{failedPost.comment}}" placeholder="" name="comment">{{failedPost.comment}}</textarea>
	</div>








<!-- password: String, -->
	<div class="form-group">
		<label>Password</label>
		{{#if error_messages.password}}
			<p class = "alert-text"> {{error_messages.password}}</p>
		{{/if}}
		{{#if error_messages.password2}}
			<p class = "alert-text"> {{error_messages.password2}}</p>
		{{/if}}
		<input type="password" class="form-control" placeholder="password" name="password">
	</div>

	<div class="form-group">
		<label>Password again</label>
		<input type="password" class="form-control" placeholder="password" name="password2">
	</div>


	<button type="submit" class="btn btn-default">LOGIN</button>
</form>